.form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
        -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        margin: 3rem 0;
        width: 20rem;
}
 .text_input  {
     padding: 1rem;
     margin-top: 1rem;
     font-weight: 100;
 }
.textarea {
    padding: 1rem;
    margin-top: 1rem;
    resize: none;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}